@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    123 Fake St<br />
    Seattle, WA 98102<br />
    <abbr title="Phone">P:</abbr>
    555-555-5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@FakeBakery.com">Support@FakeBakery.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@FakeBakery.com">Marketing@FakeBakery.com</a>
</address>